astroid==3.4.0
colorama==0.4.7
coverage==7.7.0
dill==0.3.10
iniconfig==2.1.0
isort==6.1.0
mccabe==0.8.0
packaging==24.3
platformdirs==4.4.0
pluggy==1.6.0
pylint==3.4.0
pylint-pytest==1.2.0
pytest==8.4.0
pytest-cov==6.1.0
pytest-pylint==0.22.0
tomli==2.1.0
tomlkit==0.14.0
typing_extensions==4.10.0